<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>UID2 Publisher Standard Integration Example</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async src="/js/mockedGoogleTag.js"></script>
    <script src="/js/bundle.js"></script>
    <script async src="/js/uid2Esp.js"></script>

    <script>
      $(document).ready(() => {
        let callbackCounter = 0;

        function updateGuiElements(payload) {
          $("#targeted_advertising_ready").html(__uid2.getAdvertisingToken() ? "yes" : "no");
          $("#advertising_token").html(String(__uid2.getAdvertisingToken()));
          $("#login_required").html(__uid2.isLoginRequired() ? "yes" : "no");
          $("#update_counter").html(callbackCounter);
          $("#identity_state").html(String(JSON.stringify(payload, null, 2)));

          if (__uid2.isLoginRequired()) {
            $("#login_form").show();
            $("#logout_form").hide();
          } else {
            $("#login_form").hide();
            $("#logout_form").show();
          }
        }

        function onUid2IdentityUpdated(eventType, payload) {
          if (payload?.identity && (eventType === 'InitCompleted' || eventType === 'IdentityUpdated')) {
            ++callbackCounter;
          }
          updateGuiElements(payload);
        }

        $("#logout").click(() => {
          window.__uid2.disconnect();
          window.googletag.encryptedSignalProviders.clearAllCache();
          updateGuiElements(undefined);
        });
        window.__uid2 = window.__uid2 || { callbacks: [] };
        window.__uid2.callbacks.push((eventType, payload) => {
          if (eventType === 'SdkLoaded') {
            __uid2.init({ baseUrl: "<%- uid2BaseUrl %>", enableESP: true });
          }
        });
        window.__uid2.callbacks.push(onUid2IdentityUpdated);

      });
    </script>
  </head>
  <body>
    <%- include('intro.html'); -%>
    <table id="uid2_state">
      <tr><td class="label">Ready for Targeted Advertising:</td><td class="value"><pre id="targeted_advertising_ready"></pre></td></tr>
      <tr><td class="label">UID2 Advertising Token:</td><td class="value"><pre id="advertising_token"></pre></td></tr>
      <tr><td class="label">Is UID2 Login Required?</td><td class="value"><pre id="login_required"></pre></td></tr>
      <tr><td class="label">UID2 Identity Updated Counter:</td><td class="value"><pre id="update_counter"></pre></td></tr>
      <tr><td class="label">UID2 Identity Callback State:</td><td class="value"><pre id="identity_state"></pre></td></tr>
    </table>
    <div id="login_form" style="display:none" class="form"><form action="/login" method="POST">
      <div class="email_prompt"><input type="text" id="email" name="email" placeholder="Enter an email address" style="border-style: none;"></div>
      <div><input type="submit" value="Log In" class="button"></div>
    </form></div>
    <div id="logout_form" style="display:none" class="form"><form>
      <button type="button" class="button" id="logout">Log Out</button>
    </form></div>
  </body>
</html>
