<h1>Client-Side UID2 SDK Integration Example</h1>
<p class="intro">
  This example demonstrates how a content publisher can use the UID2 services
  and the
  <a href="https://unifiedid.com/docs/sdks/client-side-identity"
    >Client-Side Identity JavaScript SDK</a
  >
  (UID2 SDK) to implement the
  <a
    href="https://unifiedid.com/docs/guides/google-ss-integration#uid2-client-side-javascript-sdk-integration"
    >standard UID2 integration</a
  >. [<a
    href="https://github.com/IABTechLab/uid2-web-integrations/tree/main/examples/google-esp-integration/with_sdk_v3"
    >Source Code</a
  >]
</p>
