<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>UID2 Publisher Standard Integration Example Login Result</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script async src="/js/mockedGoogleTag.js"></script>
    <script async src="/js/bundle.js"></script>
    <script async src="/js/uid2ESP.js"></script>

    <script>
      function onUid2IdentityUpdated(eventType, payload) {

        // can automatically redirect user to index page here
        // Only register ESP when google tag is avaliable 
        if (payload?.identity && (eventType === 'InitCompleted' || eventType === 'IdentityUpdated')) {
          registerUid2Handler()
        }
      }

      __uid2.callbacks.push((eventType, payload) => {
        console.log('callback2', eventType, eventType === 'InitCompleted', __uid2)
        if (eventType === 'SdkLoaded') {
          __uid2.init({
            baseUrl: "<%- uid2BaseUrl %>",
          });
        }
        if (eventType === 'InitCompleted') {
          if (__uid2.isLoginRequired()) __uid2.setIdentity(<%- JSON.stringify(identity) %>)
        }
      });
      __uid2.callbacks.push(onUid2IdentityUpdated);
    </script>
</head>
<body>
<%- include('intro.html'); -%>
<p class="message">Login completed</p>
<p>UID2 identity:</p>
<pre><%- JSON.stringify(identity, null, 2) %></pre>
<p><a href="/">Back to the main page</a></p>
<p>Normally user would be redirected automatically, but this example demonstrates one way UID2 login could be handled.</p>
</body>
</html>
