<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>UID2 Publisher Standard Integration Example Login Result</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script async src="/js/mockedGoogleTag.js"></script>
    <script async src="/js/bundle.js"></script>

    <script>
      window.__uid2 = window.__uid2 || { callbacks: [] };
      window.__uid2.callbacks.push((eventType, payload) => {
        if (eventType === 'SdkLoaded') {
          __uid2.init({
            baseUrl: "<%- uid2BaseUrl %>",
            enableSecureSignals: true
          });
        }
        if (eventType === 'InitCompleted') {
          if (__uid2.isLoginRequired()) __uid2.setIdentity(<%- JSON.stringify(identity) %>)
        }
      });
    </script>
</head>
<body>
<%- include('intro.html'); -%>
<p class="message">Login completed</p>
<p>UID2 identity:</p>
<pre><%- JSON.stringify(identity, null, 2) %></pre>
<p><a href="/">Back to the main page</a></p>
<p>Normally user would be redirected automatically, but this example demonstrates one way UID2 login could be handled.</p>
</body>
</html>
