<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>UID2 Publisher Standard Integration Example Login Result</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="<%- uid2BaseUrl %>/static/js/uid2-sdk-1.0.0.js"></script>
    <script async src="/js/mockedGoogleTag.js"></script>
    <script async src="/js/uid2ESP.js"></script>
    <script>
      function onUid2IdentityUpdated(state) {
        // can automatically redirect user to index page here
        window.__uid2Esp.sendSignal()
      }

      __uid2.init({
        callback: onUid2IdentityUpdated,
        baseUrl: "<%- uid2BaseUrl %>",
        identity: <%- JSON.stringify(identity) %>
      });
    </script>
</head>
<body>
<%- include('intro.html'); -%>
<p class="message">Login completed</p>
<p>UID2 identity:</p>
<pre><%- JSON.stringify(identity, null, 2) %></pre>
<p><a href="/">Back to the main page</a></p>
<p>Normally user would be redirected automatically, but this example demonstrates one way UID2 login could be handled.</p>
</body>
</html>
