<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <head>
      <script src="https://cdn.integ.uidapi.com/uid2-sdk-3.10.0.js"></script>
      <script
        type="text/javascript"
        src="https://imasdk.googleapis.com/js/sdkloader/ima3.js"
      ></script>
    </head>
    <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json" /> -->

    <title>UID2 Publisher Client-Side React Integration Example</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
