<h1>UID2 SDK Integration Example</h1>
<p class="intro">
  This example demonstrates how a content publisher can use the UID2 services and the
  <a href="https://unifiedid.com/docs/guides/integration-javascript-client-server"
    >UID2 SDK for JavaScript</a
  >
  (UID2 SDK) to implement the
  <a href="https://unifiedid.com/docs/guides/publisher-client-side"
    >standard UID2 integration workflow</a
  >. [<a href="https://github.com/IABTechLab/uid2-web-integrations/tree/main/examples/js-sdk"
    >Source Code</a
  >]
</p>
