<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Server-Side UID2 Integration Example with Google Secure Signals</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async src="https://cdn.integ.uidapi.com/uid2SecureSignal.js"></script>
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>

    <script type="text/javascript">
      const getUid2AdvertisingToken = async () => {
        const response = await fetch('/getFreshToken');
        const result = await response.json();
        console.log(result);
        return result.advertising_token;
      };

      window.getUid2AdvertisingToken = getUid2AdvertisingToken;

      // If uid2SecureSignalProvider is initialized before getUid2AdvertisingToken is assigned, call registerSecureSignalProvider
      if (window.__uid2SecureSignalProvider) {
        window.__uid2SecureSignalProvider.registerSecureSignalProvider();
      }
    </script>
  </head>
  <body>
    <h1>Server-Side UID2 Integration Example with Google Secure Signals</h1>
    <p class="intro">
      This example demonstrates how a content publisher can use the UID2 services to implement the
      <a href="https://unifiedid.com/docs/guides/integration-google-ss#server-side-integration"
        >Server-Side Integration.</a
      >. [<a
        href="https://github.com/IABTechLab/uid2-web-integrations/tree/main/examples/google-secure-signals-integration/server_side"
        >Source Code</a
      >]
      <br />
      <br />
      This assumes that the publisher has implemented
      <a href="https://unifiedid.com/docs/guides/integration-google-ss">Server-Side integration</a>
      on the backend and able to pass the resulting UID2 identity response to the front end.
    </p>
  </body>
</html>
