<h1>UID2 SDK Integration Example</h1>
<p class="intro">This example demonstrates how a content publisher can use the UID2 services and the <a href="https://github.com/UnifiedID2/uid2docs/blob/main/api/v1/sdks/client-side-identity-v1.md">Client-Side Identity JavaScript SDK</a>
(UID2 SDK) to implement the <a href="https://github.com/UnifiedID2/uid2docs/blob/main/api/v1/guides/publisher-client-side.md">standard UID2 integration workflow</a>.
[<a href="https://github.com/UnifiedID2/uid2-examples/tree/main/publisher/standard">Source Code</a>]</p>
