<%- include('header.html'); -%>
<div
  id="login_form"
  class="form"
  onsubmit="return window.googletag.secureSignalProviders.clearAllCache()"
>
  <form action="/login" method="POST">
    <div class="email_prompt">
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Enter an email address"
        style="border-style: none"
      />
    </div>
    <div><input type="submit" value="Log In" class="button" /></div>
  </form>
</div>

<%- include('footer.html'); -%>
