<h1>Example for Client-Server UID2 SDK Integration with Google Secure Signals</h1>
<p class="intro">
  This example demonstrates how a content publisher can use the UID2 services and the
  <a href="https://unifiedid.com/docs/sdks/sdk-ref-javascript">UID2 SDK for JavaScript</a>
  to implement the
  <a
    href="https://unifiedid.com/docs/guides/integration-google-ss#sdk-for-javascript-client-side-integration"
    >client-side UID2 integration</a
  >. [<a
    href="https://github.com/IABTechLab/uid2-web-integrations/tree/main/examples/google-secure-signals-integration/with_sdk_v3"
    >Source Code</a
  >]
</p>
