<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Example for Client-Server UID2 SDK Integration with Google Secure Signals</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <script async src="https://cdn.integ.uidapi.com/uid2SecureSignal.js"></script>
    <script async src="<%- uid2JsSdkUrl %>"></script>
    <script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>

    <script>
      window.__uid2 = window.__uid2 || { callbacks: [] };
      window.__uid2.callbacks.push((eventType, payload) => {
        if (eventType === 'SdkLoaded') {
          __uid2.init({
            baseUrl: "<%- uid2BaseUrl %>",
          });
        }
        if (eventType === 'InitCompleted') {
          if (__uid2.isLoginRequired()) __uid2.setIdentity(<%- JSON.stringify(identity) %>)
        }
      });
    </script>
  </head>
  <body>
    <%- include('intro.html'); -%>
    <p class="message">Submission completed</p>
    <p>UID2 identity:</p>
    <pre><%- JSON.stringify(identity, null, 2) %></pre>
    <p><a href="/">Back to the main page</a></p>
    <p>
      Normally user would be redirected automatically, but this example demonstrates one way UID2
      login could be handled.
    </p>
  </body>
</html>
